* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    background-color: rgb(112, 138, 196);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: auto;
    
}
header{
    background-color: rgb(65, 65, 199);
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: rgb(48, 48, 187);
    font-size: 1.5em;
    text-size-adjust: 10px;
}
section{
    background-color: aliceblue;
    border-left: rgb(0, 38, 71) solid 10px;
    margin: 20px auto;
    width: 1500px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-block-end: auto; 
    
}
section:hover{
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}
p{
    color: rgb(133, 132, 132);
}
footer{
    background-color: rgb(65, 65, 199);
    text-align: center;
    width: auto;
    height: auto;
    margin-top: auto;
}
.p{
    color: white;
}
section h2 {
    font-size: 1.5em;
    margin-right: 0; /* Margem direita */
    margin-left: -0px; /* Alinhando à esquerda */
    position: relative;
    padding: 10px;
}
section p {
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
    margin-right: 20px; /* Margem direita */
    margin-left: 0; /* Alinhando à esquerda */
    position: relative;
}
.quadrado{
    width: 80vw; /* Definindo uma largura grande, usando a unidade vw */
    height: 80vh; /* Definindo uma altura grande, usando a unidade vh */
    background-color: rgb(112, 138, 196);
    margin: 50px auto; /* Centralizando o quadrado */
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Organizando o conteúdo em colunas (cabeçalho, seção, rodapé) */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adicionando sombra ao redor do quadrado */
}
